.footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #777;

  @media (max-width: 480px) {
    gap: 0.7rem;
  }
}

.footer span {
  font-size: 0.9rem;
  color: #999;
  user-select: none;

  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
}

.filters {
  display: flex;
}

.filter {
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #999;
}

.filter.active {
  border-color: rgba(175, 47, 47, 0.2);
  color: #333;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 0.9rem;

  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
}

button:hover {
  text-decoration: underline;
}
