.todo-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

.todo-checkbox {
  margin-right: 1rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #d9d9d9;
}
